body{
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}

.header-text {
    margin-left: 100px;
}

.header-text svg{
    width: 60px;
    height: 60px;
}

.header-text svg:hover{
    stroke: rgb(22, 122, 236);
}


.header-image img{
    max-width: 100%;
    width: 70%;
    margin-right: 100px;
}

ul.skills-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.skills-list li {
    display: inline;
    margin-right: 10px;
}

ul.skills-list li:last-child {
    margin-right: 0;
}

ul.skills-list li a {
    text-decoration: none;
}

#stack{
    background-color: rgba(209, 209, 209, 0.2);
    padding: 40px;
}

#stack img.icons{
    margin: auto;
    width: 20%;
    padding: 14px 0;
    width: 60px;
    height: width * 0.5;
}

#stack .card-text{
    font-size: 80%;
    color: rgb(134, 134, 134);
}

/* .experience{
    background-color: white;
    padding: 40px;
} */

#projects{
    padding: 40px 0;
    font-size: 80%;
}

#project .card-body{
    max-height: 240px;
}

.contact{
    background-color: white;
    padding: 40px;
}

.text-justify {
    text-align: justify;
}

footer{
    font-size: 80%;
}


/* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

@media (max-width: 360px) { 
    .header-text{
        text-align: center;
        margin: auto;
    }

    .header-text h1{
     font-size: 100%; 
     line-height: 1.5rem;  
    }

    .header-text p{
        font-size: 65%;
    }

    .header-text svg{
        width: 40px;
        height: 40px;
    }

    .img-fluid{
        justify-items: center;
        margin: 24px auto;
    }

    #stack .col-md-4:nth-child(2),.col-md-4:nth-child(3) {
        margin-top: 24px;
    }

    #stack h2{
        text-align: center;
    }

    #stack .card{
        margin: auto;
    }

    #stack .card .card-body{
        padding-bottom: 32px;
    }

    #stack .card-title{
        font-size: 98%;
    }

    #stack .card-text{
        margin:auto;
        font-size: 12px;
        text-align: center;
    }

    #projects h2{
        text-align: center;
    }

    p.des-title{
        margin: 0 auto;
        text-align: center;
        font-size: 80%;
        width: 100%;
    }

    #projects .col-md-4:nth-child(2),.col-md-4:nth-child(3) {
        margin-top: 24px;
    }

    #projects .card-ttitle{
        font-size: 75%;
        text-align: left;
    }

    #projects .card-text{
        font-size: 80%;
        text-align: left;
    }

    #contact{
        font-size: 75%;
    }

    footer{
        font-size: 75%;
    }

    footer .span {
        text-align: center;
      }

    footer a.brand{
        display: none;
    }

    footer .icons{
        display: none;
    }

}